# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
* text=auto

#
# The above will handle all files NOT found below
#

# Binaries
*.dat binary
*.xlam binary
*.xlsm binary

# Archives
*.zip binary

# Text files where line endings should be preserved
*.patch -text

#
# Exclude files from exporting
#

.git* export-ignore
utils/ export-ignore
