# Exclude files from exporting
.git* export-ignore
utils/ export-ignore

# Auto detect text files and perform LF normalization
* text=auto

#
# The above will handle all files NOT found below
#

# Binaries
*.xlam binary
*.xlsm binary

# Archives
*.zip binary
